:root {
  --background: #AB987A;
  --secondary: #0F1626;
  --details: #FF533D;
  --text: #F5F5F5;
  --test1: hsl(0, 100%, 50%);
  --test2: blue;
  --test3: yellow;
  --prueba1 :#abede1;
  --prueba2:#1ab580;
  --oscuro:#000000;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-container {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.header-logo{
  height: 60px;
  cursor: pointer !important;
}
.greetings {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: right;
}
.App-link {
  color: var(--details);
}
.header{
  color: var(--text) !important;
  /* position: 'fixed';
  z-index: 1;
  width: '100%'; */
}

.header-search{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.header-greetings{
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.content {
  background-color: var(--prueba1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* width: 100%; */
  /* flex-grow: 1; */

}
.footer {
  color: var(--oscuro) !important;
  background-color: var(--prueba2) !important;
}

.product-card{
  background-color: var(--test1);
  margin: 10px;
  padding: 15px;
}

.img-carro{
  width: 100%;
  /* border: 1px solid black; */
  height: 220px;
}
